<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" >

   <!--
      Define a simple bean, but this time provide initial values for properties
      on the JavaBean
   -->
   
<bean id="bean1SL" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="targetSource" ref="bean1pool"/>
</bean>

<bean id="bean1pool" class="org.springframework.aop.target.CommonsPoolTargetSource">
<property name="targetBeanName" value="bean1pooltarget"/>
<property name="maxSize" value="25"/>
</bean>



<bean id="bean1pooltarget" class="ex01_bean.ex02_setter_pool.Bean1" scope="prototype" >
<property name="no">
<value>101</value>
</property>
</bean>	
   	
</beans>
