<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  	    http://camel.apache.org/schema/spring
		http://camel.apache.org/schema/spring/camel-spring.xsd">

    <camelContext trace="true" xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="xpathRoute"/>
        <routeBuilder ref="headerBasedRoute"/>
    </camelContext>

    <bean id="xpathRoute" class="com.fusesource.camel.exercises.cbr.RouteByCurrencyRouter">
        <property name="sourceDirectory" value="./target/test-classes/camel/in/xml"/>
        <property name="sinkDirectory" value="./target/test-classes/camel/out/xml"/>
        <property name="createDirectories" value="true"/>
    </bean>

    <bean id="headerBasedRoute" class="com.fusesource.camel.exercises.cbr.RouteByFileNameRouter">
        <property name="sourceDirectory" value="./target/test-classes/camel/in/csv"/>
        <property name="sinkDirectory" value="./target/test-classes/camel/out/csv"/>
        <property name="createDirectories" value="true"/>
    </bean>
</beans>