<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>



 <!--
      Define a Property Placeholder.  This is the equivalent of the programmatic
      example in ex01_bean.ex05_postprocessor.
   -->


<!-- spring 3.0<context:property-placeholder location="classpath:jdbc.properties"/> -->


   <!--
      Define a simple Bean
   -->

<bean id="example" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
<property name="location" value="classpath:ex01_bean/ex09_property_EL/example.properties"/>
</bean>


	<bean id="bean1" class="ex01_bean.ex09_property_EL.Bean1" scope="prototype">
      
      <!--
         Reference a values in the property file
      -->
	   <property name="name">
	      <value>#{example['name']}</value>
      </property>
     
     <property name="no">
	      <value>#{example['no']}</value>
      </property>
	</bean>

<bean id="bean1a" class="ex01_bean.ex09_property_EL.Bean1" scope="prototype">
      
   <property name="name">
	      <value>#{example['name']}</value>
      </property>
      <property name="no">
         <value>#{example['no']}</value>
      </property>
      
      
	</bean>
	
	<bean id="bean2" class="ex01_bean.ex09_property_EL.Bean2" init-method="init" scope="prototype">
      
   <property name="name">
	      <value>#{bean1['name']}</value>
      </property>
      <property name="no">
         <value>#{bean1['no']}</value>
      </property>
      
      
	</bean>
	
	<bean id="bp" class="ex01_bean.ex09_property_EL.ExampleBeanPostProcessor" />

	
</beans>
